#about-me {
    display: flex;
    justify-content: space-around;
    background-color: #40adf1;
    padding: 6.5rem;
}

#text-about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

#content-about-me img {
    width: 20rem;
    border-radius: 90px;
}

.about-me-description {
    width: 30rem;
    font-weight: 500;
    color: white;
    font-size: 1.08rem;
}

.about-me-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}