header {
    width: 100%;
    padding: 10px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#nav-right {
    margin-right: 50px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

#nav_logo {
    width: 90px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

#mobile_nav_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0;
    text-align: center;
}

.nav-item a {
    text-decoration: none;
    color: #0D0D0D;
    font-weight: 600;
}

.nav-item a:hover {
    color: #141414;
    border-bottom: 3px solid #2995D9;
}

#mobile_menu {
    display: none;
}

#mobile_btn {
    display: none;
}

#mobile_menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        color: #0D0D0D;
        cursor: pointer;
        font-size: 25px;
    }

    #nav_list {
        display: none;
    }

}