.slider-cases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 4rem;
}

.slider-cases h1 {
  font-size: 6rem;
  font-weight: 900;
  border: 2px solid #2d2d2d;
  border-radius: 3rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  background-color: white;
  color: #2d2d2d;
}

.splide__track {
  max-width: 55rem;
  background-color: white;
  border: 2px solid #2d2d2d;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  padding: 1rem;
}

.splide__slide {
  padding: 3rem;
}
.slide-img {
  width: 100%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  background-color: white;
  transition: transform 0.2s;
}

.slide-img:hover {
  transform: scale(1.1);
}

.slide-title {
  border: none;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 2rem;
  font-weight: 900;
}

.slide-description {
  padding-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}


@media (max-width: 1050px) {
  .splide__track {
    max-width: 20rem;
  }
}

@media (max-width: 560px) {

  .slider-cases {
    gap: 2rem;
  }
  .slider-cases h1 {
    font-size: 3rem;
  }
  .splide__track {
    max-width: 18rem;
  }
}